/*Thanks to https://cssnewbie.com/full-width-centered-navigation-bar/#.XKZJTetKjq0 for the assistance in the navigation bar setup*/
html
{
  background-color: rgb(67, 94, 145);
  font-family: 'Open Sans',sans-serif;
}
/*start nav section*/
#navb
{
  overflow: hidden;
  background-color: rgb(96, 137, 153); 
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  border-bottom: 1px solid rgb(255, 255, 255)

}
#navb a
{
  float: left;
  text-align: center;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0,102,153);
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}
#navb a:hover
{
  color: rgb(121, 31, 50);
  background-color: rgb(255, 255, 255);
}

.sticky + .content
{
  padding-top: 60px;
}
/*end of nav section*/
main
{
  text-align: center;
}
div
{
  margin: auto;
  border: 1px solid black;
  width: 960px;
  height: 450px;
  padding: 30px;
}

img
{
  padding: 5px;
}
#feature
{
  width: 960px;
  height: 450px;
  text-align: center;
}

#feat-pic
{
  float: left;
}

.footer
{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(96, 137, 153);
  padding: 40px;
  color: rgb(0,102,153);
  text-align: center;
  bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24pt;
  font-weight: bold;
}
.footer.p
{
  padding: 10px;
}
